trigger:
  branches:
    include:
      - main

pool:
  vmImage: "windows-latest"

resources:
  repositories:
    - repository: self
    - repository: devops
      type: github
      name: graduatecollege/devops
      endpoint: graduatecollege

variables:
  buildConfiguration: "Release"
  projectPath: "CsLib/CsLib.csproj"
  majorVersion: "1"
  minorVersion: "0"

steps:
  - template: nuget.yml@devops
    parameters:
      projectPath: 'CsLib/CsLib.csproj'
      majorVersion: '1'
      minorVersion: '0'
      dotnetVersion: '9.x'
      feedName: 'gradcollege'
